body{
    background-color: #4A4E69;
}

header {
    display: flex;
    justify-content: center;
    
}

.topnav{
    background-color: #22223B;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 30%;
    border-radius: 20px;
}
.nav{
    display:flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
    padding: 0px;
    margin: 0px;
    height: 50px;
    align-items: center;
    
}

.nav a{
    color: #9A8C98;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.nav a:hover{
    color: #4A4E69;
}

/* .nav>li{
    list-style: none;
} */